---
ogType: website # Sets all pages to website unless specified otherwise.
ogImage: /assets/Jasper_Icon_2024.png # Sets OG embed to this png unless specified otherwise.
# What can be used
# title:
# description:
# ogType:
# ogImage:
# titleImage:
---

<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/styles.css"> 
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="{{ ogType }}">
    <meta property="og:image" content="{{ ogImage }}">
</head>

<body>
    <nav class="mainnav">
        <a href="/">
            <img style="max-width: 100%;" src="/assets/Jasper_Icon_2024.png">
        </a>
        <hr>
        <ul>
            <li><a href="/">Home</a><li>
            <li><a href="/blog">Blogging</a></li>
            <li><a href="/games">Game Reviews</a></li>
            <li><a href="/projects">Personal Projects</a></li>
        </ul>
    </nav>

    <div class="content">
        <header>
            {% if titleImage %}
                <center><img style="max-height: 200px; max-width: 100%;" src="{{ titleImage }}"></center>
            {% else %}
                <h1 style="text-align: center; margin: 0;">{{ title }}</h1>
            {% endif %}
        </header>

        <main>
            {{ content | safe }}
        </main>
    </div>
</body>
</html>