@import url("assets/fonts/FantasqueSansMono-Regular-decl.css");
@import url("assets/fonts/FantasqueSansMono-Bold-decl.css");
@import url("assets/fonts/FantasqueSansMono-Italic-decl.css");
@import url("assets/fonts/FantasqueSansMono-BoldItalic-decl.css");

body {
  font-family: 'Fantasque Sans Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#946eeb;
  color: white;
  margin: 0;
  padding: 25px;
}

a {
  color: inherit;
}

main {
  width: 1000px;
  max-width: 100vw;
  background-color:#2e5bff;
  padding: 25px;
  border-radius: 10px;
  border: 4px dotted;
}

main>*:first-child {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th {
  border: 3px solid black;
  padding: 5px;
}

td {
  border: 1px solid #555;
  padding: 5px;
}
