@import url("/assets/fonts/lexend/latin-700.css");
@import url("/assets/fonts/lexend/latin-400.css");


body {
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-image: url("/assets/background.webp");
  background-position: 200px 200px;
  color: #110830;
  margin: 0;
  padding: 25px;
  
}

a {
  color: inherit;
  &:hover {
    color: #946eeb;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1000px;
}

main, header, footer, .mainnav {
  background-color:#eddbff;
  padding: 25px;
  border-radius: 10px;
  border-style: double;
  box-shadow: 0 0 0 2px #dda7ff;
}

main {
  line-height: 1.3rem;
}

main>*:first-child {
  margin-top: 0;
}

hr {
  border-color: white;
}

ul {
  padding-left: 15px;
}

/* NAVIGATION */
/* Navigation throughout the website */
.mainnav {
  width: 200px;
  padding: 10px;
  
  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
  
  li {
    margin-bottom: 5px;
  }
}

.navImage {
  max-width: 100%;
  border-radius: 10px;
}

footer p {
  margin: 0px;
  text-align: center;
}


/* CONTENT */
.date-footer {
  display: flex;
  flex-direction: column;
  align-items: end;

  time {
    opacity: 50%;
    font-size: 0.9rem;
  }
}

/* Tables throughout the website */
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  
  th {
    border: 3px solid black;
    padding: 5px;
  }
  
  td {
    border: 1px solid #555;
    padding: 5px;
  }
}

/* Puts images next to each other in a row with a small bit of space. */
.image-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.image-row > img {
  width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

/* Displays images at 100% of their width */
.imageLarge {
  max-width: 100%;
}

/* Displays images at 50% of their width */
.imageSmall {
  max-width: 50%;
}

/* Page header image and text */
.headerImage {
  max-height: 200px;
  max-width: 100%;
}

.headerText {
  text-align: center;
  margin: 0;
}